<div class="options">
  <div>
    <input type="checkbox" id="stemming" name="stemming" [formControl]="stemmingActive">
    <label for="stemming">Stemming</label>
  </div>
  <div>
    <select id="language" name="language" [formControl]="languageSelect">
      <option [value]="language.EN">EN</option>
      <option [value]="language.DE">DE</option>
    </select>
  </div>
</div>
<ng-container *ngIf="words | async as wordCloudWords; else notLoaded">
  <word-cloud [words]="wordCloudWords"></word-cloud>
</ng-container>
<ng-template #notLoaded>
  Not loaded yet :(
</ng-template>
